// PRIMARY COLOURS
$colour-dark-blue:#004864;
$colour-uniprot-blue: #006E9A;
$colour-medium-blue:#3CA3CA;
$colour-light-blue:#93D4EE;

// GREYSCALE
$colour-black:#3a343a;
$colour-dark-grey:#393B42;
$colour-cool-grey:#4A4D55;
$colour-medium-grey:#727376;
$colour-light-grey:#C2C4C4;
$colour-seashell-grey:#F1F1F1;
$colour-white:#fefefe;

// NAMESPACES
$colour-uniref : #c08c5c;
$colour-uniparc : #c3878d;
$colour-proteomes : #990000;
$colour-supporting-data : #aa8ebf;
$colour-help : #6bad69;
$colour-annotation-systems : #F8982E;
